<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5" data-controller="user">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <%= form_with model: @user, url: users_path, local: true, data: { controller: "user", action: "submit->user#submit" } do |form| %>
                <div class="form-outline mb-4">
                  <%= form.label :email, "Email", class: 'form-label', for: "email" %>
                  <%= form.email_field :email, id: "email", class: 'form-control form-control-lg', placeholder: "Enter email", data: { user_target: 'email', action: 'keyup->user#validateEmail' } %>
                </div>

                <div class="form-outline mb-4">
                  <%= form.label :password %>
                  <%= form.password_field :password, class: 'form-control form-control-lg', data: { user_target: 'input', action: 'keyup->user#validate' } %>
                </div>

                <div class="form-outline mb-4">
                  <%= form.label :password_confirmation, "Confirm Password" %>
                  <%= form.password_field :password_confirmation, class: 'form-control form-control-lg', data: { user_target: 'passwordConfirmation', action: 'keyup->user#validatePasswordConfirmation' } %>
                </div>

                <% if @user.errors.any? %>
                  <ul class='text-danger'>
                    <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                <% else %>
                  <div id="feedback" data-user-target="feedback"></div>
                <% end %>

                <%= form.submit 'Register', class: 'btn btn-success btn-block btn-lg gradient-custom-4 text-body' %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
